body{
    background-color: #6ba5a5;

}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 5px;
    width: 100%;
}
h1{ color: #152e16;}
h2{ color: #72a8de;}
h3{color: #ca6924;}